*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(5, 5, 5);
    justify-content: space-between; 
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;

}

.nombre-compañia{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: center;
    top: 0;
    color: white;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-size: 3.125rem;
}
.navbar{
    display: flex;
    list-style: none;
    gap: 1.25rem;
    padding-right:1.25rem ;

}
.navbar a{
    text-decoration: none;
    color: rgb(234, 234, 234);
    padding:0px .625rem;
}
.navbar a:hover{
    color: black
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.875rem;
    background-color: rgb(141, 170, 181);
    padding: 20px;
    justify-items: center;
    align-items: center;
}

.item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 15px;
    border: 2px solid black;
    justify-items: center;
    align-items: center;
}

.item img{
    border-radius: 20px;
    width: 100%;
    padding-left: 40px;
    justify-items: center;
    align-items: center;
}
.zapa h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    margin: 10px px;
}
.zapa h3{
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(3, 3, 3);
    margin: 5px 0px;
}
















